@import "config/colors";
.kwcClass {
    background-color: $mainColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.kwcClass ul li a {
    display: block;
    height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $light;
    padding-top: 15px;
}
.kwcClass ul.kwcClass__menu li.current a {
    color: $light;
    background-color: $mainColorLight;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
